.social__icon {
  fill: @icongray;

  &:hover {
    fill: @lightgreen;
  }

  &:active {
    fill: @lightgreen;
    opacity: 0.3;
  }
}

.social__list {
  .clear-style();
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin: 0 19px;
}

@media (min-width: @tablet-width) {
  .social__item {
    margin: 0 15px;
    padding-bottom: 7px;
  }

  .social__list {
    padding-left: 11px;
  }

  .social__icon--vkontakte {
    height: 16px;
    width: 29px;
    margin-left: 9px;
  }

  .social__icon--instagram {
    height: 23px;
    width: 23px;
  }

  .social__icon--facebook {
    width: 15px;
    height: 29px;
  }
}
