.example {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: @lightgray;
}

.example__wrapper {
  padding: 0 20px;
  padding-top: 16px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.example__cat-wrapper {
  padding-top: 27px;
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  .clear-style();
  margin-bottom: 25px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  .clear-style();

  padding-right: 10px;
  margin-bottom: 25px;
}

.main-block__button {
  display: block;
}

.example__list {
  .clear-style();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.example__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 125px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 17px;
  position: relative;

  &:last-child {
    border: none;
    flex-grow: 1;
  }
}

.example__total {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
}

.example__sign-container {
  width: 85px;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.example__sign {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-transform: lowercase;
  display: block;
  padding: 0 10px;
  background-color: @lightgray;
  z-index: 10;
}


.example__sum {
  .clear-style();
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 22px;
}

.example__cat {
  position: relative;
}

.example__cat-img {
  position: absolute;
  top: -13px;
  right: -20px;
}

.example__compare-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
  padding-top: 260px;
}

.example__cat-range {
  width: 85px;
  height: 14px;
  background-color: @white;
  box-sizing: border-box;
  border: 1px solid @bordergraydark;
  border-radius: 5px;
}

.example__cat-img--after {
  display: none;
}

.example__cat-indicator {
  height: 6px;
  width: 35px;
  background-color: @lightgreen;
  position: relative;
  right: -5px;
  top: 3px;
  border-radius: 5px;
}

.example__button--was {
  padding-left: 43px;
}

.example__button--become {
  padding-right: 40px;
}

.example__button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .example__cat {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .example__cat-img {
    right: -54px;
  }

  .example__cat-img--after {
    display: block;
    clip: rect(auto, auto, auto, 335px);
  }

  .example__list {
    margin-bottom: 95px;
  }

  .example__wrapper {
    width: 768px;
    padding: 0 30px;
    padding-top: 41px;
    margin-top: -617px;
    box-sizing: border-box;
  }

  .example__cat-wrapper {
    width: 100%;
    padding: 0;

    position: relative;
    z-index: 5;

    &::before {
      content: "";
      position: absolute;
      background-color: @backcatgray;
      width: 50%;
      height: 100%;
      right: 0;
      bottom: 0;
      z-index: -1;
      clip: rect(158px, auto, auto, auto);
    }
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }

  .example__item {
    padding-top: 16px;
    padding-bottom: 12px;
    width: 162px;
    margin-right: 42px;
    text-align: center;

    &:last-child {
      padding-top: 13px;
      margin-right: 0;
      text-align: right;
    }
  }

  .example__sum {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    margin-right: 0;
  }

  .example__sum span {
    padding-top: 10px;
    display: block;
  }

  .example__total {
    font-size: 30px;
    line-height: 37px;
  }

  .example__sign-container {
    bottom: -5px;
    width: 140px;
  }

  .example__sign {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    background-color: @white;
  }

  .example__compare-panel {
    padding-top: 0;
    padding-bottom: 73px;
  }

  .example__cat-img--before {
    clip: rect(auto, 335px, auto, auto);
  }

  .example__cat-range {
    width: 428px;
    height: 6px;
    background-color: @bordergray;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
  }

  .example__cat-indicator {
    height: 33px;
    width: 33px;
    background-color: @white;
    border: 1px solid @bordergray;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    position: relative;
    right: -197px;
    top: -14px;
    border-radius: 50%;
    cursor: pointer;

    &::before {
      content: "";
      height: 9px;
      width: 9px;
      background-color: @lightgreen;
      position: absolute;
      right: 11px;
      top: 12px;
      border-radius: 50%;
    }
  }

  .example__button {
    font-size: 20px;
    line-height: 20px;
  }

  .example__button--was {
    padding-left: 70px;
  }

  .example__button--become {
    padding-right: 70px;
  }

  .example {
    margin-top: 617px;
    border-top: 1px solid @lightgray;
    background: linear-gradient(to right, @lightgray 75%, @backcatgray 25%);
  }

  .example__list:last-child {
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .example {
    margin-top: 165px;
    border-top: 1px solid @lightgray;
  }

  .example__wrapper {
    padding: 0 40px;
    padding-top: 30px;
    margin: 0 auto;
    margin-top: -165px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
  }

  .example__title {
    margin-bottom: 147px;
  }

  .example__info-wrapper {
    padding: 0;
    width: 570px;
  }

  .example__cat-wrapper {
    padding: 0;
    width: 570px;
    margin: 0;

    &::before {
      clip: rect(135px, auto, auto, auto);
    }
  }

  .example__text {
    padding-right: 135px;
    margin-bottom: 68px;
  }

  .example__sum {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    margin-right: 0;
  }

  .example__sign-container {
    width: 140px;
  }

  .example__sign {
    background-color: @lightgray;
  }

  .example__item {
    padding-top: 12px;
    padding-bottom: 20px;
    margin-bottom: 46px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      text-align: left;
      width: 192px;
    }
  }

  .example__compare-panel {
    padding-bottom: 75px;
  }

  .example__list {
    justify-content: flex-start;
    margin: 0;
  }

  .example__sum span {
    padding: 0;
    display: inline-block;
    padding-left: 60px;
  }

  .example__cat {
    width: 570px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 0;
  }

  .example__cat-img {
    right: -40px;
    top: -53px;
  }

  .example__button {
    padding: 0;
  }

  .example__cat-img--before {
    clip: rect(auto, 365px, auto, auto);
  }

  .example__cat-img--after {
    clip: rect(auto, auto, auto, 365px);
  }
}
