.howitworks__wrapper {
  padding: 0 20px;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.howitworks__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @black;
  .clear-style();
}

.howitworks__list {
  .clear-style();
}

.howitworks__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @gray;
  margin-bottom: 20px;
}

.howitworks__item:last-child {
  margin-bottom: 40px;
}

.howitworks__about {
  .clear-style();
}

@media (min-width: @tablet-width) {
  .howitworks__wrapper {
    width: 640px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .howitworks__list {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .howitworks__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
