.howitworks {
  padding: 0 20px;
}

.howitworks__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @black;
  .clear-style();
}

.howitworks__list {
  .clear-style();
}

.howitworks__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @gray;
  margin-bottom: 20px;
}

.howitworks__item:last-child {
  margin-bottom: 40px;
}

.howitworks__about {
  .clear-style();
}
