.main-block {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 22px;
  box-sizing: border-box;
}

.main-block__wrapper {
  background-image: url("../img/index-background-mobile@1x.jpg");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: contain;
  }

  background-repeat: no-repeat;
  color: @white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.main-block__text {
  padding-top: 28px;
}

.main-block__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  .clear-style();
  margin-bottom: 25px;
  text-align: center;
}

.main-block__tagline {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  .clear-style();
  text-align: center;
  margin-bottom: 27px;
}

.main-block__button {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  text-align: center;
  display: block;
}


@media (max-width: @mobile-width-only) {
  .main-block__button-wrapper {
    order: 3;
  }

  .main-block__product-image {
    margin-bottom: 2px;
  }
}

@media (min-width: @tablet-width) {
  .main-block {
    width: 768px;
    margin: 0 auto;
    padding: 0;
    background-image: none;
  }

  .main-block__text {
    padding-top: 55px;
    padding-left: 87px;
    padding-right: 70px;
  }

  .main-block__title {
    color: @black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 41px;
  }

  .main-block__tagline {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: @black;
    margin-bottom: 49px;
  }

  .main-block__button-wrapper {
    padding-left: 88px;
    position: relative;
  }

  .main-block__product-image {
    margin-top: -30px;
  }

  .main-block__button {
    display: inline-block;
    text-align: center;
    position: absolute;
    font-size: 20px;
    padding-top: 14px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 15px;
  }

  .main-block__wrapper {
    background-image: none;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-block {
    width: 1300px;
    margin: 0 auto;
    background-image: none;
  }

  .main-block__text {
    padding-left: 80px;
  }

  .main-block__title {
    padding-right: 500px;
    margin-bottom: 42px;
  }

  .main-block__button-wrapper {
    order: 0;
    padding-left: 80px;
  }

  .main-block__product-image {
    position: absolute;
    left: 38%;
    top: 55px;
    display: block;
  }

  .main-block__tagline {
    margin-bottom: 52px;
  }

  .main-block__wrapper {
    background-image: none;
    padding: 0 40px;
    padding-top: 50px;
    position: relative;
    min-height: 610px;
  }

  .main-block__button {
    padding: 13px 27px;
    margin: 0;
    padding-bottom: 16px;
  }
}
