.catalog-page__extra {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .catalog-page__extra {
    width: 640px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-page__extra {
    width: 960px;
    padding: 0 40px;
  }
}
