.catalog__list {
  .clear-style();
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  border-bottom: 1px solid @bordergray;
  color: @black;
  .clear-style();
  padding-bottom: 30px;
}

.catalog__item {
  border-bottom: 1px solid @bordergray;
  box-sizing: border-box;
}

.catalog___item-wrapper {
  padding: 0 20px;
}

.catalog__item-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  .clear-style();
}

.catalog__item-stats,
.catalog__item-tagline {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @gray;
}

.catalog__button {
  display: block;
  margin-bottom: 25px;
}

.catalog__button--more {
  background-color: @lightgray;
  color: @black;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    width: 640px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    border-bottom: none;
    width: 270px;
    background-color: @lightgray;
    margin-bottom: 30px;
  }

  .catalog__title {
    border-bottom: none;
  }

  .catalog__item--more {
    background-color: @white;
    border: 1px solid @lightgray;
  }

  .catalog___item-wrapper {
    padding: 30px;
  }

  .catalog__item-name {
    color: @black;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    width: 960px;
    padding: 0 40px;
  }

  .catalog__item {
    width: 200px;
  }
}
