.extra {
  padding-bottom: 37px;
  position: relative;
}

.extra__wrapper {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.extra__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  .clear-style();
  padding: 27px 0 35px 0;
  display: inline-block;
  // background-color: @white;

  margin-left: -20px;

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: 42px;
    right: 0;
    background-color: @lightgreen;
    z-index: -1;
  }
}

.extra__title span {
  display: inline-block;
  background-color: @white;
  padding-right: 20px;
  padding-left: 20px;
}

.extra__item {
  border-top: 1px solid @bordergraydark;
  padding: 13px 0 17px 0;
}

.extra__item-name {
  .clear-style();
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black;

  margin-bottom: 13px;
}

.extra__price-wrapper {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @gray;

  display: flex;
  justify-content: space-between;
}

.extra__item-name-wrapper {
  margin-bottom: 15px;
}

.extra__list {
  .clear-style();
}

.extra__button {
  display: block;
  text-align: center;
  line-height: 20px;
}

.extra__present-wrapper {
  padding-top: 190px;
  padding-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @lightgreen;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 100% auto;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
    height: 60px;
    top: 69px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.extra__present-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @white;

  width: 170px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.extra__present {
  margin-top: 37px;
}

@media (min-width: @mobile-width-only) and (max-width: @tablet-width-only) {
  .extra__present-wrapper {
    text-align: right;

    padding-top: 72px;
    padding-right: 30px;
    padding-left: 340px;
    padding-bottom: 67px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      top: 65px;
      left: 119px;
    }
  }
}

@media (min-width: @tablet-width) {
  .extra {
    padding-bottom: 77px;
  }

  .extra__wrapper {
    padding: 0 30px;
    padding-top: 30px;
    width: 768px;
    box-sizing: border-box;
  }

  .extra__item {
    border: 1px solid @bordergraydark;
    border-bottom: none;
    padding: 25px 37px 28px 37px;

    &:last-child {
      margin-bottom: 70px;
      border-bottom: 1px solid @bordergraydark;
    }
  }

  .extra__present-text {
    text-align: left;
  }

  .extra__item-name-wrapper {
    display: flex;
  }

  .extra__price-wrapper {
    font-size: 16px;
    line-height: 20px;

    margin-left: auto;
    padding-top: 5px;
  }

  .extra__price {
    width: 95px;
    text-align: right;
  }

  .extra__title {
    border: none;
    font-size: 36px;
    line-height: 36px;
    margin: auto;
    margin-bottom: 80px;

    padding: 0;

    &::after {
      top: 52px;
    }
  }

  .extra__title span {
    padding-left: 38px;
    padding-right: 36px;
  }

  .extra__item-name {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .extra {
    padding-bottom: 83px;
  }

  .extra__title {
    width: 1300px;
  }

  .extra__title span {
    margin-left: -40px;
  }

  .extra__present-wrapper {
    width: 245px;
    padding-top: 188px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      top: 67px;
    }
  }

  .extra__item:last-child {
    margin-bottom: 0;
  }

  .extra__present-text {
    text-align: center;
  }

  .extra__wrapper {
    width: 1300px;
    padding: 0 40px;
    padding-top: 29px;
    display: flex;
    flex-wrap: wrap;
  }

  .extra__item-name-wrapper {
    margin: 0;
    align-items: center;
  }

  .extra__list {
    width: 895px;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
  }

  .extra__present {
    margin-top: 0;
  }

  .extra__item-name {
    width: 325px;
    margin: 0;
    padding: 0;
  }

  .extra__item {
    display: flex;
    justify-content: space-between;
    border-left: none;
    border-right: none;
    padding: 14px 0 17px 0;
    align-items: center;
  }

  .extra__price-wrapper {
    display: flex;
    align-items: center;
  }

  .extra__feature {
    display: block;
    width: 193px;
  }

  .extra__button {
    width: 245px;
  }
}
